In [2]:
import pandas as pd
import matplotlib.pyplot as plot
import seaborn as sb

In [5]:
csv_pisa = pd.read_csv('C:/Users/Andres/Desktop/CSVs/OECD_PISA_data.csv')
csv_pisa

      index LOCATION    INDICATOR SUBJECT  TIME    Value
0         0      AUS     PISAMATH     BOY  2003  527.000
1         1      AUS     PISAMATH     BOY  2006  527.000
2         2      AUS     PISAMATH     BOY  2009  519.000
3         3      AUS     PISAMATH     BOY  2012  510.115
4         4      AUS     PISAMATH     BOY  2015  497.000
...     ...      ...          ...     ...   ...      ...
2082   2082      CRI  PISASCIENCE     BOY  2018  420.000
2083   2083      CRI  PISASCIENCE    GIRL  2018  411.000
2084   2084      LTU  PISASCIENCE     TOT  2018  482.000
2085   2085      LTU  PISASCIENCE     BOY  2018  479.000
2086   2086      LTU  PISASCIENCE    GIRL  2018  485.000

[2087 rows x 6 columns]

In [10]:
csv_pisa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2087 entries, 0 to 2086
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      2087 non-null   int64
 1   LOCATION   2087 non-null   object
 2   INDICATOR  2087 non-null   object
 3   SUBJECT    2087 non-null   object
 4   TIME       2087 non-null   int64
 5   Value      2087 non-null   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 98.0+ KB

In [30]:
csv_pisa.describe()

             index         TIME        Value
count  2087.000000  2087.000000  2087.000000
mean   1043.000000  2010.814087   487.644684
std     602.609326     5.317975    38.644532
min       0.000000  2000.000000   348.000000
25%     521.500000  2006.000000   475.000000
50%    1043.000000  2012.000000   495.000000
75%    1564.500000  2015.000000   512.000000
max    2086.000000  2018.000000   574.000000

In [22]:
count_by_location = csv_pisa['LOCATION'].value_counts()
count_df = pd.DataFrame(count_by_location.reset_index())
count_df.columns = ['LOCATION', 'Count']
count_df

   LOCATION  Count
0       AUS     54
1       IRL     54
2       SWE     54
3       BRA     54
4       PRT     54
5       POL     54
6       NOR     54
7       NZL     54
8       IDN     54
9       MEX     54
10      KOR     54
11      JPN     54
12      ITA     54
13      ISL     54
14      HUN     54
15      GRC     54
16      DEU     54
17      FRA     54
18      FIN     54
19      DNK     54
20      CZE     54
21      CAN     54
22      BEL     54
23      CHE     54
24      LUX     53
25      TUR     51
26      USA     51
27      SVK     51
28      ESP     51
29      NLD     51
30     OAVG     49
31      CHL     48
32      ISR     48
33      RUS     47
34      SVN     45
35      GBR     45
36      EST     45
37      AUT     45
38      LVA     30
39      COL     18
40      SGP      9
41      HKG      9
42      PER      9
43      TWN      9
44      MAC      9
45      CRI      9
46      LTU      9

In [28]:
!pip install pycountry
import pycountry

Collecting pycountry
  Obtaining dependency information for pycountry from https://files.pythonhosted.org/packages/48/12/fdbcd29b5a243af2f1c1a83636a21e3837aeaa070c9212ebe657e39ce563/pycountry-23.12.11-py3-none-any.whl.metadata
  Downloading pycountry-23.12.11-py3-none-any.whl.metadata (12 kB)
Downloading pycountry-23.12.11-py3-none-any.whl (6.2 MB)
   ---------------------------------------- 0.0/6.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/6.2 MB ? eta -:--:--
   -- ------------------------------------- 0.5/6.2 MB 7.1 MB/s eta 0:00:01
   ---------- ----------------------------- 1.7/6.2 MB 15.2 MB/s eta 0:00:01
   ----------------------- ---------------- 3.6/6.2 MB 22.9 MB/s eta 0:00:01
   ------------------------------------- -- 5.8/6.2 MB 28.6 MB/s eta 0:00:01
   ---------------------------------------- 6.2/6.2 MB 24.8 MB/s eta 0:00:00
Installing collected packages: pycountry
Successfully installed pycountry-23.12.11

In [29]:
count_df['Country_Name'] = count_df['LOCATION'].apply(lambda x: pycountry.countries.get(alpha_3=x).name if pycountry.countries.get(alpha_3=x) else x)
count_df

   LOCATION  Count               Country_Name
0       AUS     54                  Australia
1       IRL     54                    Ireland
2       SWE     54                     Sweden
3       BRA     54                     Brazil
4       PRT     54                   Portugal
5       POL     54                     Poland
6       NOR     54                     Norway
7       NZL     54                New Zealand
8       IDN     54                  Indonesia
9       MEX     54                     Mexico
10      KOR     54         Korea, Republic of
11      JPN     54                      Japan
12      ITA     54                      Italy
13      ISL     54                    Iceland
14      HUN     54                    Hungary
15      GRC     54                     Greece
16      DEU     54                    Germany
17      FRA     54                     France
18      FIN     54                    Finland
19      DNK     54                    Denmark
20      CZE     54                    Czechia
21      CAN     54                     Canada
22      BEL     54                    Belgium
23      CHE     54                Switzerland
24      LUX     53                 Luxembourg
25      TUR     51                    Türkiye
26      USA     51              United States
27      SVK     51                   Slovakia
28      ESP     51                      Spain
29      NLD     51                Netherlands
30     OAVG     49                       OAVG
31      CHL     48                      Chile
32      ISR     48                     Israel
33      RUS     47         Russian Federation
34      SVN     45                   Slovenia
35      GBR     45             United Kingdom
36      EST     45                    Estonia
37      AUT     45                    Austria
38      LVA     30                     Latvia
39      COL     18                   Colombia
40      SGP      9                  Singapore
41      HKG      9                  Hong Kong
42      PER      9                       Peru
43      TWN      9  Taiwan, Province of China
44      MAC      9                      Macao
45      CRI      9                 Costa Rica
46      LTU      9                  Lithuania